
body {
    min-height: 100vh;
    color: var(--dark-blue-200);
    background-color: var(--base-clr);
    background-image: url(../images/backgrounds/bg-gradient.png);
    background-position: start start;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: auto 1fr;
}

/* sidebar */
.sidebar {
    box-sizing: border-box !important;
    padding: 1rem;
    padding-right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--dark-blue-950-o50);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-items: start;
    transition: 300ms ease-in-out;
    text-wrap: nowrap;
}

.sidebar.collapsed {
    width: 80px;
}

.scrollbox {
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    padding-right: .5rem;
    width: 100%;
    height: 100%;
}

.scrollbox .scrollbox-inner, .scrollbox:hover{
    visibility: visible;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
}

.sidebar-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sidebar-header .header-logo .wrapper-text-logo:first-child{
    color: var(--ancent-bg-clr);
}
.sidebar-header .header-logo img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.sidebar-header .toggler-sidebar {
    position: absolute;
    right: 1rem;
    background-color: var(--dark-blue-950);
    border: none;
    color: var(--dark-blue-50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .25rem;
    font-size: .75rem;
    transition: 300ms ease-in-out;
}

.sidebar-header .toggler-sidebar span{
    transition: 300ms ease-in-out;
}
.sidebar.collapsed .sidebar-header .toggler-sidebar {
    transform: translate(-2px, 65px);
}
.sidebar-nav .list-group:first-child{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: 300ms ease-in-out;
    margin-top: 1rem;
}

.sidebar.collapsed .sidebar-nav .list-group:first-child  {
    transform: translateY(65px);
}

.sidebar-nav .nav-item .active {
    background-image: var(--ancent-bg-clr);
    color: var(--dark-blue-50);
}

.sidebar-nav .nav-link{
    border-radius: .5em;
    padding: .75em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: .75em;
    border: none;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.sidebar-nav .nav-link:hover {
    background: var(--ancent-bg-clr);
    color: var(--dark-blue-50);
}

.list-group .nav-item .nav-link .nav-label, .wrapper-text-logo {
    transition: 300ms ease;
}

.sidebar.collapsed .list-group .nav-item .nav-link .nav-label,  .sidebar.collapsed .wrapper-text-logo{
    opacity: 0;
    pointer-events: none;
}

#toggle-submenu span:last-child {
    margin-left: auto;
    transition: 300ms ease-in-out;
}

#submenu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    > .wrapper {
        overflow: hidden;
    }
} 

#submenu #submenu-link{
    padding-left: 3rem;
}

#submenu.show {
    grid-template-rows: 1fr;
}

.rotate span:last-child {
    transform: rotate(180deg);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--dark-blue-200);
  --bs-tooltip-color: var(--base-clr);
}
/* end sidebar */

/* main content */
main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
}

/* navigation */
.main-nav {
    position: sticky;
    top: 0;
    align-items: start;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;

   
    padding: 1rem;
    margin-bottom: .75rem;
    z-index: 1000;
}

.glass {
    background-color: var(--dark-blue-950-o50);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.glass-border::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255,255,255,0.3), rgba(255,255,255,0)) border-box;
    mask: linear-gradient(black, black) border-box,
          linear-gradient(black, black) padding-box;
    mask-composite: subtract;
    border: 2px transparent solid;
    border-radius: inherit;
    pointer-events: none;
}

.main-nav .nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
}

.main-nav .nav-list .wrapper-tool {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
 
.nav-search {
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top: 1px var(--dark-blue-200) solid;
    border-left: 1px var(--dark-blue-200) solid;
    border-bottom: 1px var(--dark-blue-200) solid;
}
.nav-search:focus {
    outline: none;
    background-color: none;
    box-shadow: none;
    color: var(--dark-blue-200);
}

 .nav-search::placeholder {
    font-style: italic;
    color: var(--dark-blue-200);
}
 .nav-search-icon {
    padding: .5rem;
    border-top: 1px var(--dark-blue-200) solid;
    border-right: 1px var(--dark-blue-200) solid;
    border-bottom: 1px var(--dark-blue-200) solid;
    background-color: var(--base-clr);
    text-decoration: none;
    color: var(--dark-blue-50);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.main-nav .nav-list .wrapper-tool .toggle-mode-btn {
    background: var(--base-clr);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav .nav-list .wrapper-tool .toggle-mode-btn span {
    padding:.5rem;
   
}
.main-nav .nav-list .wrapper-tool .toggle-mode-btn:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border: none;
     color: var(--dark-blue-50);
}

.main-nav .nav-list .wrapper-tool .toggle-mode-btn:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: none;
    color: var(--dark-blue-50);
   
}

.main-nav .nav-list .wrapper-tool .toggle-mode-btn.active {
    background: var(--dark-blue-200);
    color: var(--base-clr) !important;
}

.main-nav .nav-list .wrapper-tool .toggle-mode-btn:hover {
    background: var(--dark-blue-200);
    color: var(--base-clr);
}
.main-nav .nav-list .wrapper-tool .notification-btn {
    background-color: transparent;
    border: none;
    
}
.main-nav .nav-list .wrapper-tool .dropdown-btn-profile {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}
.dropdown-menu {
    width: 200px;
    padding: .75rem;
    border-radius: .75rem;
    color: var(--dark-blue-200);
    background-color: var(--base-clr);

    transition: 300ms ease;
}

.dropdown-menu .list-group-item  {
    margin-bottom: .75rem;
    padding: .5rem;
    border-radius: .5rem;
}

.dropdown-menu .list-group-item:hover {
    background-color: rgb(45, 54, 86);
    color: var(--dark-blue-50);
}

.dropdown-toggle::after {
    display: none !important;
}

.main-nav .nav-list .nav-link {
    text-decoration: none;
}
/* end navigation */

/* body */


.body .wrapper-chart .line-chart, 
.body .wrapper-chart .circle-chart
{
    width: 100%;
    height: 400px;
    background-color: var(--dark-blue-950-o50);
    backdrop-filter: blur(15px);
}
.wrapper-secondary .wrapper-content {
    position: relative;
}

.message-fixed {
   background-color: var(--base-clr);
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   border-radius: 3rem 3rem 0;
   z-index: 100;
}

.message-fixed .group-messager {
    width: 72px; 
    height: 24px;
    position: relative;
    background-color: var(--base-clr);
}

.message-fixed .group-messager img:nth-child(1) {
    border: 2px var(--base-clr) solid;
    position: absolute;
    left: 0;
    z-index: 0;
}

.message-fixed .group-messager img:nth-child(2) {
    border: 2px var(--base-clr) solid;
    position: absolute;
    left: 20%;
    z-index: 1;
}

.message-fixed .group-messager img:nth-child(3) {
    border: 2px var(--base-clr) solid;
    position: absolute;
    left: 40%;
    z-index: 2;
}
/* end body */

.chatbox {
    opacity: 0;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    width: 450px;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    background-color: var(--dark-blue-950-o50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 1rem;
}

.chatbox.show {
    opacity: 1;
    pointer-events: auto;
}

.chatbox .chatbox-header {
    margin-bottom: .75rem;
    border-bottom: 1px var(--dark-blue-50) solid;
    padding: .75rem 0;
}
.chatbox .group-btn button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.chatbox .group-btn button span {
    padding: .25rem;
    border-radius: .25rem;
    color: var(--dark-blue-50);
}

.chatbox .group-btn button span:hover {
    background-color: var(--base-clr);
}
.chatbox .wrapper-message {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
.chatbox .wrapper-message .wrapper-message_item{
    background-color: var(--base-clr);
    border-radius: .75rem;
    color: var(--dark-blue-50);
}
/* end main content */

/* books.html */

.truncate-mutiline {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.wrapper-table {
    background-color: var(--dark-blue-950-o50);
    padding: .75rem;
    border-radius: .75rem;
    color: var(--dark-blue-50);
}

.wrapper-table .nav-tab {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.wrapper-table .nav-tab .nav-link {
    color: var(--dark-blue-200);
    text-decoration: none;
    padding: .75rem;
}

.wrapper-table .nav-tab .nav-link.active {
    border-bottom: 1px #fff solid;
    color: var(--dark-blue-50);
    font-weight: bold;
}

.wrapper-table .nav-tab .nav-link:hover {
    border-bottom: 1px #fff solid;
    color: var(--dark-blue-50);
    font-weight: bold;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}
table {
    max-width: 100%;
    background-color: var(--base-clr);
}

table th,
table td {
    padding:  .5rem;
}

table td:nth-child(4) {
    width: 10%;
}
table td:nth-child(7) {
    width: 15%;
}
table thead {
    background-color: var(--dark-blue-800);
}
table tr:nth-child(even) {
    background-color: var(--dark-blue-950-o50);
}

.wrapper_page-navigation .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_page-navigation .nav-page .nav-label, 
.wrapper_page-navigation .nav-page .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    transition: 300ms ease-in-out;
    transform: scale(1);
}

.wrapper_page-navigation .nav-page .nav-label.active {
    background-color: var(--clr-purple);
    color: var(--dark-blue-50);
    
}

.wrapper_page-navigation .nav-page .nav-label:hover {
    background-color: var(--clr-purple);
    color: var(--dark-blue-50);
    transform: scale(1.2);
}

.wrapper_page-navigation .nav-page .nav-icon:hover {
    background-color: var(--dark-blue-200);
    color: var(--base-clr);
     transform: scale(1.2);
}

.filter-category > select {
    background: transparent;
    padding: .5rem;
    margin: 0 .5rem;
    color: var(--dark-blue-50);
    border-radius: .5rem;
    border: 1px var(--dark-blue-200) solid;
}

.filter-category > select option {
    background-color: var(--base-clr);
}

.filter-category > select option:hover {
    background-color: var(--dark-blue-950) !important;
}

.add-btn {
    padding: .5rem;
    border: 1px var(--dark-blue-200) solid;
    background: var(--ancent-bg-clr);
    color: var(--dark-blue-50);
    border-radius: .5rem;
}

.add-btn .add-btn_icon,
.add-btn .add-btn_label {
    padding: .25rem;
}

.wrapper-tools .list_filter{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5r;
}
.wrapper-tools .list_filter li {
    padding: .5rem;
    border: 2px var(--clr-purple) solid;
    margin: 0 .25rem;
    border-radius: 1.25rem;
    color: var(--clr-purple);
}

/* add book */

	
